/out/
obj-*/
**/cblocks/
debian/csmapfx/
debian/.debhelper/
debian/csmapfx.substvars
debian/debhelper-build-stamp
debian/files
**/build/
Debug
Release
.vscode
.vs
/Testing
/csmapinst.exe
*.log
*.vcxproj.user
/enc_temp_folder/
/version.aps
.gdb_history
gdb-entitlement.xml
macos-setup-codesign.sh
